<ion-view title="Home | Pickervera">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <h2>Welcome to <i>Pickervera</i></h2>
        <div class="list card">
            <div class="item item-divider">Actions</div>
            <div class="item item-body">
                <a ui-sref="app.picking" nav-clear class="button button-balanced button-block">Picking</a>
                <a ui-sref="app.putaway" nav-clear class="button button-assertive button-block">Putaway</a>
            </div>
            <div class="item item-divider">Debug (development only)</div>
            <div class="item item-body">
                <button ng-click="setPicked0()" nav-clear class="button button-calm button-block">Set Picked = 0</button>
                <button ng-click="setPicked1()" nav-clear class="button button-calm button-block">Set Picked = 1</button>
                <button ng-click="setPickedq0()" nav-clear class="button button-calm button-block">Set PickedQuantity = 0</button>
                <button ng-click="setPickedq1()" nav-clear class="button button-calm button-block">Set PickedQuantity = all</button>
            </div>
        </div>
    </ion-content>
</ion-view>
