<ion-view view-title="Home" enable-menu-with-back-views="false">
    <ion-content padding="true" class="has-header">
        <span class="badge badge-assertive">PrimaDell, Inc.</span>
        <div class="list card">
            <div class="item item-divider">Actions</div>
            <div class="item item-body">
                <div class="list">
                    <a class="item item-icon-left item-icon-right" ui-sref="app.pickingLists">
                        <i class="icon ion-ios-list"></i>Picking Lists<i class="icon ion-arrow-right-c"></i>
                    </a>
                    <a class="item item-icon-left item-icon-right" ui-sref="app.picking">
                        <i class="icon ion-ios-upload"></i>Perform Picking<i class="icon ion-arrow-right-c"></i>
                    </a>
                    <a class="item item-icon-left item-icon-right" ui-sref="app.putawayLists">
                        <i class="icon ion-ios-list-outline"></i>Putaway Lists<i class="icon ion-arrow-right-c"></i>
                    </a>
                    <a class="item item-icon-left item-icon-right" ui-sref="app.putaway">
                        <i class="icon ion-ios-download-outline"></i>Perform Putaway<i class="icon ion-arrow-right-c"></i>
                    </a>
                </div>
            </div>
            <div class="item item-divider" ng-show="isAdmin()">Debug (development only)</div>
            <div class="item item-body" ng-show="isAdmin()">
                <div class="list">
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('reset_picked')">
                        <i class="icon ion-bug"></i>Set Picked = 0<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('set_picked')">
                        <i class="icon ion-bug"></i>Set Picked = 1<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('reset_pickedq')">
                        <i class="icon ion-bug"></i>Set PickedQuantity = 0<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('set_pickedq')">
                        <i class="icon ion-bug"></i>Set PickedQuantity = all<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('reset_putaway')">
                        <i class="icon ion-bug"></i>Set Putaway = 0<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('set_putaway')">
                        <i class="icon ion-bug"></i>Set Putaway = 1<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('reset_putawayq')">
                        <i class="icon ion-bug"></i>Set PutawayQuantity = 0<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('set_putawayq')">
                        <i class="icon ion-bug"></i>Set PutawayQuantity = all<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('returns_401')">
                        <i class="icon ion-bug"></i>Returns 401<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <a class="item item-stable item-icon-left item-icon-right" ng-click="executeDebug('returns_404')">
                        <i class="icon ion-bug"></i>Returns 404<i class="icon ion-arrow-return-right"></i>
                    </a>
                    <div class="row">
                        <div class="col">
                            <label class="item item-input">
                                <input type="text" placeholder="Username" ng-model="reg.user">
                            </label>
                        </div>
                        <div class="col">
                            <label class="item item-input">
                                <input type="password" placeholder="Password" ng-model="reg.pass">
                            </label>
                        </div>
                        <div class="col">
                            <a class="item item-stable item-icon-left item-icon-right" ng-click="register()">
                                <i class="icon ion-bug"></i>Register<i class="icon ion-arrow-return-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
