<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear">
                <i class="ion-arrow-left-c"></i> Back
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <ion-list>
                <ion-item class="item-icon-left" menu-close ui-sref="app.home">
                    <i class="icon ion-home"></i>
                    Home
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="login()">
                    <i class="icon ion-log-in"></i>
                    Login
                </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="app.pickingLists">
                    <i class="icon ion-ios-list"></i>
                    Picking List
                </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="app.picking">
                    <i class="icon ion-ios-upload"></i>
                    Perform Picking
                </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="app.putawayLists">
                    <i class="icon ion-ios-list-outline"></i>
                    Putaway List
                </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="app.putaway">
                    <i class="icon ion-ios-download-outline"></i>
                    Perform Putaway
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
