<ion-view view-title="Picking List {{id}}" ng-init="init()">
    <ion-content padding="true" class="has-header">
        <div class="list card card">

            <div class="item item-divider">
                Id {{pickingList.Id}}
            </div>
            <div class="item item-text-wrap">
                <p>{{pickingList.Items.length}} items in {{pickingList.Items[0].StorageFacility}}</p>
                <p><strong>Picker: </strong> {{pickingList.PickerName}}</p>
                <p><strong>Date: </strong> {{pickingList.Date | amCalendar}} <small>({{pickingList.Date | amDateFormat:'YYYY-MM-DD HH:mm'}})</small></p>
            </div>

            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-divider">
                        <div class="row">
                            <div class="col">Item Id</div>
                            <div class="col">Quantity</div>
                            <div class="col">Location</div>
                        </div>
                    </ion-item>
                    <ion-item class="animate-repeat" ng-repeat="item in pickingList.Items">
                        <div class="row">
                            <div class="col">{{item.ItemId}}</div>
                            <div class="col">{{item.Quantity}} {{item.Unit}}</div>
                            <div class="col">{{item.StorageLocation}}</div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
