<ion-view view-title="Picking" ng-init="init()">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-toggle ng-model="automatic" ng-change="automaticChange(automatic)" toggle-class="toggle-positive">Automatic</ion-toggle>
            <div class="item item-input item-select">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Filter orders" ng-model="search[filterType]">
                <select ng-model="filterType">
                    <option selected>Id</option>
                    <option>Entity</option>
                </select>
            </div>
            <ion-item class="item-divider">Pending Orders</ion-item>
            <div ng-repeat="order in orders | filter:search">
                <ion-item class="item-icon-left item-icon-right" ng-model="order.checked"
                          ng-checked="order.checked" ng-disabled="automatic"
                          ng-class="{active: isOrderShown(order)}">
                    <i ng-click="order.checked = !order.checked" class="icon" ng-class="order.checked ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>
                    <span ng-click="order.checked = !order.checked">Serie {{order.Serie}}, Nº {{order.NumDoc}}<br>
                    <small>{{order.EntityName.split(' ')[0]}} - {{order.Data | amDateFormat:'YYYY-MM-DD HH:mm'}}</small></span>
                    <span class="item-note" ng-click="toggleOrder(order)">
                        {{order.TotalMerc | currency:"&euro;"}}<br>
                        {{order.Processed}}% complete
                    </span>
                    <i ng-click="toggleOrder(order)" class="icon" ng-class="isOrderShown(order) ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>
                </ion-item>
                <ion-item class="item-accordion item-stable"
                          ng-repeat="orderLine in order.OrderLines"
                          ng-show="isOrderShown(order)">
                    {{orderLine.Item.Id}} (<small>{{orderLine.Item.Description}}</small>) - {{orderLine.Quantity}} {{orderLine.Unit}}
                </ion-item>
            </div>
        </ion-list>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Warehouse
                </div>
                <select ng-model="selection.warehouse" ng-options="wh for wh in warehouses"></select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">
                    Capacity
                </span>
                <select ng-model="selection.capacity">
                    <option selected value="5">Container A (5 u&#179;)</option>
                    <option value="10">Container B (10 u&#179;)</option>
                    <option value="50">Container C (50 u&#179;)</option>
                    <option value="100">Container D (100 u&#179;)</option>
                </select>
            </label>
        </div>
        <button ng-click="pickSelected()" ng-disabled="!anySelectedOrder()" class="button button-dark button-block">Pick Selected</button>
    </ion-content>
</ion-view>
