<ion-view view-title="Picking Result" ng-init="init()">
    <ion-content padding="true" class="has-header">
        <ul class="list">
            <li class="item" ng-repeat="item in items" ng-disabled="item.disabled">
                <h2>{{item.Item.Id}}</h2>
                <div class="item-note item-input">
                    <label>
                        <input style="display: inline; width: 100px" ng-model="item.PickedQuantity" type="text" min="0"
                               max="{{item.Quantity}}" step="0.1" ng-blur="inputPickedQuantityBlur(item)"
                               ng-focus="inputPickedQuantityFocus(item)">
                    </label>
                </div>
                <p>
                    Warehouse: {{item.StorageFacility}}, Location: {{item.StorageLocation}}
                </p>
            </li>
        </ul>
        <p></p>
        <ion-list ng-show="skippedOrders.length > 0">
            <ion-toggle ng-model="showSkippedOrders" toggle-class="toggle-positive">Show Skipped Orders</ion-toggle>
            <div class="item item-divider" ng-show="showSkippedOrders">
                Skipped Orders (no stock)
            </div>
            <ion-item class="item" ng-repeat="order in skippedOrders" ng-show="showSkippedOrders">
                <h2>{{order.Item.Id}}</h2>
                <h3>{{order.Item.Description}}</h3>
                <div class="item-note">
                    {{order.Quantity}} {{order.Unit}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-clear bar-footer">
        <a ng-disabled="!enableFinish" ng-click="finished()" class="button button-positive pull-right">Finished</a>
    </div>
</ion-view>
