<ion-view title="Picking | Pickervera" ng-init="init()">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-toggle ng-model="automatic" ng-change="automaticChange(automatic)" toggle-class="toggle-positive">Automatic</ion-toggle>
            <div class="item item-input item-select">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Filter orders" ng-model="search[filterType]">
                <select ng-model="filterType">
                    <option selected>Id</option>
                    <option>Entity</option>
                </select>
            </div>
            <ion-item class="item-divider">Pending Orders</ion-item>
            <ion-checkbox class="animate-repeat" ng-repeat="order in orders | filter:search" ng-model="order.checked"
                          ng-checked="order.checked" ng-disabled="automatic">
                <h2>Serie {{order.Serie}}, Nº {{order.NumDoc}}</h2>
                <span class="item-note">
                    {{order.TotalMerc | currency:"&euro;"}}<br>
                    {{order.Processed}}% complete
                </span>

                <p>{{order.EntityName}} - {{order.Data | amCalendar}} <!--<small>({{order.Data | amDateFormat:'YYYY-MM-DD HH:mm'}})</small>--></p>
            </ion-checkbox>
            <label class="item item-input item-select">
                <div class="input-label">
                    Warehouse
                </div>
                <select ng-model="warehouse.name" ng-options="wh for wh in warehouses"></select>
            </label>
            <button ng-click="pickSelected()" ng-disabled="!anySelectedOrder()" class="button button-dark button-block">Pick Selected</button>
        </ion-list>
        <p></p>
        <ion-list>
            <ion-toggle ng-model="showDelivered" toggle-class="toggle-positive">Show Delivered</ion-toggle>
            <ion-item class="item-divider" ng-show="showDelivered">
                Delivered
            </ion-item>
            <ion-item class="animate-repeat" ng-repeat="order in orders" ng-show="showDelivered">
                <h2>{{order.Id}}</h2>

                <span class="item-note">
                    {{order.Date | amDateFormat:'YYYY-MM-DD HH:mm'}}
                </span>
                <p>{{order.Entity}}</p>

            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button icon ion-information-circled pull-right" ng-click="showHelp()"></button>
    </div>
</ion-view>
