<ion-view view-title="Putaway" ng-init="init()">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <ion-list>
            <ion-toggle ng-model="automatic" ng-change="automaticChange(automatic)" toggle-class="toggle-positive">Automatic</ion-toggle>
            <div class="item item-input item-select">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Filter supplies" ng-model="search[filterType]">
                <select ng-model="filterType">
                    <option selected>Id</option>
                    <option>Entity</option>
                </select>
            </div>
            <ion-item class="item-divider">Pending Supplies</ion-item>
            <div ng-repeat="supply in supplies | filter:search">
                <ion-item class="item-icon-left item-icon-right" ng-model="supply.checked"
                          ng-checked="supply.checked" ng-disabled="automatic"
                          ng-class="{active: isSupplyShown(supply)}">
                    <i ng-click="supply.checked = !supply.checked" class="icon" ng-class="supply.checked ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>
                    <span ng-click="supply.checked = !supply.checked">Serie {{supply.Serie}}, Nº {{supply.NumDoc}}<br>
                    <small>{{supply.Entity}} - {{supply.Data | amDateFormat:'YYYY-MM-DD HH:mm'}}</small></span>
                    <span class="item-note" ng-click="toggleSupply(supply)">
                        {{supply.TotalMerc | currency:"&euro;"}}<br>
                        {{supply.Processed}}% complete
                    </span>
                    <i ng-click="toggleSupply(supply)" class="icon" ng-class="isSupplyShown(supply) ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>
                </ion-item>
                <ion-item class="item-accordion item-stable"
                          ng-repeat="supplyLine in supply.SupplyLines"
                          ng-show="isSupplyShown(supply)">
                    {{supplyLine.Item.Id}} (<small>{{supplyLine.Item.Description}}</small>) - {{supplyLine.Quantity}} {{supplyLine.Unit}}
                </ion-item>
            </div>
        </ion-list>

        <label class="item item-input item-select">
            <div class="input-label">
                Warehouse
            </div>
            <select ng-model="warehouse.name" ng-options="wh for wh in warehouses"></select>
        </label>
        <button ng-click="putawaySelected()" ng-disabled="!anySelectedSupply()" class="button button-dark button-block">Putaway Selected</button>
    </ion-content>
</ion-view>
