<ion-view view-title="Putaway Result" ng-init="init()">
    <ion-content padding="true" class="has-header">
        <ul class="list">
            <li class="item" ng-repeat="item in items">
                <h2>{{item.Item.Id}}</h2>
                <div class="item-note">
                    <div class="list">

                        <label class="item item-input item-select" style="width: 130px">
                            <div class="input-label" style="padding-right: 0">
                                L.
                            </div>
                            <select ng-model="item.StorageLocation" ng-options="l for l in locations" style="padding-left: 0; padding-right: 0; margin-right: 28px"></select>
                        </label>

                    </div>
                </div>
                <p>
                    Warehouse: {{item.StorageFacility}} - {{item.Quantity}} {{item.Unit}}
                </p>
            </li>
        </ul>
        <p></p>
        <ion-list ng-show="skippedSupplies.length > 0">
            <ion-toggle ng-model="showSkippedSupplies" toggle-class="toggle-positive">Show Skipped Supplies</ion-toggle>
            <div class="item item-divider" ng-show="showSkippedSupplies">
                Skipped Supplies (no stock)
            </div>
            <ion-item class="item" ng-repeat="supply in skippedSupplies" ng-show="showSkippedSupplies">
                <h2>{{supply.Item.Id}}</h2>
                <h3>{{supply.Item.Description}}</h3>
                <div class="item-note">
                    {{supply.Quantity}} {{supply.Unit}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-clear bar-footer">
        <a ng-disabled="!enableFinish" ng-click="finished()" class="button button-positive pull-right">Finished</a>
    </div>
</ion-view>
